extends layout

block content
  div#nanowiki-intro
    div(style="padding: 10px; background: rgba(255,255,255, .1);")
      p.big-font Welcome to #[strong= app_title], where you can take turns creating a story with your friends, one paragraph at a time. Share your stories with the world!
      p(style="color: #1ABC9C;") There's no need to create an account, you can get started right away!

    div#nanowiki-create-story-container
      button#nanowiki-create-story.big-font Create Story
      button#nanowiki-read-stories.big-font(onclick="window.location.href='#nanowiki-stories'") Just Read
  
  div#nanowiki-stories
    ol#nanowiki-featured-stories
    ol#nanowiki-new-stories
  script(src='/javascripts/index.js')
