doctype html
html
  head
    title= page_title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E=', crossorigin='anonymous')
    script(src='/socket.io/socket.io.js')
  body
    div#nanowiki-header.clickable
      img#nanowiki-icon(src='/favicon.ico')
      h1#nanowiki-title= app_title
    hr
    block content
    script(src='/javascripts/layout.js')
  footer#nanowiki-footer
    h5 &copy; 2018 Kevin Harrison</h5>
