* {
	padding: 0;
	margin: 0;
}

p, button, hr, .margin {
  margin: 10px;
}

button {
	background: #1ABC9C;
	border: none;
	padding: 5px;
	color: #21252B;
	border-radius: 5px;
	cursor: pointer;
	transition: opacity .3s;
}

button:hover {
	opacity: .8;
}

hr {
	display: block;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.half-margin {
	margin: 5px;
}

article, aside, canvas, figcaption,
figure, footer, header, hgroup,
output, section, video {
	display: block;
}

html {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	height: 100%;
	max-height: 100%;
  align-items: center;
  background-color: #21252B;
}

body {
	width: 100vw;
	height: 100%;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	display: grid;
	grid-template-rows: 1fr 48px;
}

#nanowiki-body {
  width: 95vw;
  margin: 10px auto;
	padding: 10px;
  font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #282C34;
  color: #CCCCCC;
}

a {
  color: #00B7FF;
}

#nanowiki-top {
	font-size: 24pt;
	display: flex;
	align-items: center;
	align-content: center;
	position: relative;
}

#nanowiki-header {
  display: flex;
  align-items: center;
  align-content: center;
}

#nanowiki-icon {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 10px;
}

#nanowiki-title {
	display: inline-block;
	font-size: 2rem;
}

#nanowiki-search {
	display: flex;
	position: absolute;
	right: 10px;
}
#nanowiki-search-box {
	padding: 5px 10px;
	border: 2px solid #ccc;
	border-radius: 5px;
}

#nanowiki-intro {
	width: 65%;
	margin: 1em auto;
	padding: 1em;
	text-align: center;
}

#nanowiki-create-story-container {
	display: flex;
	justify-content: center;
	flex-flow: column;
	align-items: center;
}
#nanowiki-create-story {
	width: max-content;
}

#nanowiki-footer {
	margin: 0;
	padding: 10px;
	justify-content: center;
	align-items: center;
  display: flex;
	color: #CCCCCC;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.big-font {
  font-size: 1.5rem;
}

.huge-font {
  font-size: 2rem;
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none; /* Chrome, Opera, Safari */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

#nanowiki-story {
	margin: 20px;
	width: 90%;
	padding: 1em;
}

#nanowiki-story-title-bar {
	position: relative;
	align-items: center;
}

#nanowiki-story-title {
	display: inline-block;
	font-size: 2rem;
	line-height: 2.5;
}

#nanowiki-story p {
	width: 90%;
	margin: 5px auto 1rem auto;
	font-size: 1.2rem;
	line-height: 1.75;
}

#nanowiki-story-controls {
	display: inline-block;
	position: absolute;
	right: 10px;
}

#nanowiki-story-insertion {
	margin: 10px;
}

#nanowiki-story-author {
	color: #1ABC9C;
}

.nanowiki-edit-node {
	color: #1ABC9C;
	margin-left: 20px;
}

.action-icon {
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}

#nanowiki-search-results {
	padding-bottom: 10px;
}

a.search-result:link {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-result:visited {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-result:hover {
	color: #1ABC9C;
	text-decoration: underline;
}

a.search-result:active {
	color: #1ABC9C;
	text-decoration: underline;
}

a.search-page:link {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-page:visited {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-page:hover {
	color: #1ABC9C;
	text-decoration: underline;
}

a.search-page:active {
	color: #1ABC9C;
	text-decoration: underline;
}

.search-current-page {
	text-decoration: underline;
}

#nanowiki-featured-stories {
	display: flex;
	flex-flow: column;
	padding: 1em;
}
.featured-story {
	margin: 0 0 30px 30px;
	list-style-type: none;
}

/* Placeholder text for contenteditable elements */
[contenteditable=true]:empty:before{
  content: attr(placeholder);
  display: block; /* For Firefox */
	color: #888888;
}


@media (max-width: 500px) {
	#nanowiki-top {
		flex-flow: column;
		align-items: flex-start;
	}
	#nanowiki-icon {
		height: 32px;
		width: auto;
	}
	#nanowiki-title {
		font-size: 1.1rem;
	}
	#nanowiki-search {
		width: 100%;
		position: relative;
		justify-content: flex-end;
		align-items: center;
		right: 0;
	}
	#nanowiki-intro {
		width: inherit;
		margin: 0;
		padding: 0;
	}
	#nanowiki-story {
		width: calc(100% - 2em);
		margin: 0;
	}
	#nanowiki-body {
		padding: 0;
		width: inherit;
		margin: 0;
	}
	.big-font {
		font-size: 1.1rem;
	}
}