* {
	padding: 0;
	margin: 0;
}

p,
button,
hr,
.margin {
	margin: 10px;
}

button {
	background: #1ABC9C;
	border: none;
	padding: 16px 25px;
	color: #21252B;
	border-radius: 5px;
	cursor: pointer;
	transition: opacity .3s;
}

button:hover {
	opacity: .8;
}

hr {
	display: block;
	border: 2px solid #ccc;
	border-radius: 5px;
}

.half-margin {
	margin: 5px;
}

article,
aside,
canvas,
figcaption,
figure,
footer,
header,
hgroup,
output,
section,
video {
	display: block;
}

html {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	height: 100%;
	max-height: 100%;
	align-items: center;
	background-color: #21252B;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	line-height: 1.5;
	display: grid;
	grid-template-areas:
		"top"
		"body";
	grid-template-rows: auto 100%;
	overflow: hidden;
	font: 1rem "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #CCCCCC;
}

#nanowiki-body {
	width: 95vw;
	margin: 10px auto;
	padding: 10px;
	padding-bottom: 100px;
	background-color: #282C34;
	grid-area: body;
	overflow: auto;
}

a {
	color: #00B7FF;
}

#nanowiki-top {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: stretch;
	position: relative;
	grid-area: top;
	padding: 0;
	margin: 0 auto;
	width: 95vw;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

#nanowiki-header {
	display: flex;
	align-items: center;
	align-content: center;
}

#nanowiki-icon {
	width: 32px;
	height: 32px;
	display: inline-block;
	margin: 10px;
}

#nanowiki-title {
	display: inline-block;
	font-size: 1.5rem;
	color: #ccc;
}

#nanowiki-search {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}

#nanowiki-search-box {
	padding: 10px 5px;
	border: none;
	background: none;
	color: #1ABC9C;
	border-bottom: 2px solid #ccc;
	transition: border .3s ease-in-out;
}

#nanowiki-search-box:active,
#nanowiki-search-box:focus {
	border-bottom: 2px solid #1ABC9C;
	outline: none;
}

#nanowiki-search-button {
	font-size: 1rem;
	color: #1ABC9C;
}

#nanowiki-intro {
	width: calc(85% - 2em);
	margin: 1em auto;
	padding: 1em;
	text-align: left;
	display: grid;
	grid-template-columns: 1fr;
	align-items: center;
	max-width: 1000px;
}

#nanowiki-create-story-container {
	display: flex;
	justify-content: flex-end;
	flex-flow: row wrap;
	align-items: center;
}

#nanowiki-create-story {
	width: max-content;
}
#nanowiki-read-stories {
	display: none;
}
#nanowiki-footer {
	margin: 0;
	padding: 0;
	padding: 10px;
	justify-content: center;
	align-items: center;
	display: flex;
	color: #CCCCCC;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	grid-area: footer;
}

.big-font {
	font-size: 1.5rem;
}

.huge-font {
	font-size: 2rem;
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none;
	/* Chrome, Opera, Safari */
	-moz-user-select: none;
	/* Firefox 2+ */
	-ms-user-select: none;
	/* IE 10+ */
	user-select: none;
	/* Standard syntax */
}

#nanowiki-story {
	margin: 20px auto;
	width: 90%;
	padding: 1em;
	max-width: 800px;
}

#nanowiki-story-title-bar {
	position: relative;
	align-items: center;
}

#nanowiki-story-title {
	display: inline-block;
	font-size: 2rem;
	line-height: 2.5;
	color: #1ABC9C;
}

#nanowiki-story p {
	width: 90%;
	margin: 5px auto 1rem auto;
	font-size: 1.2rem;
	line-height: 1.25;
}

#nanowiki-story-controls {
	display: inline-block;
	position: absolute;
	right: 10px;
}

#nanowiki-story-insertion {
	margin: 10px;
}

#nanowiki-story-author {
	color: #1ABC9C;
}

.nanowiki-edit-node {
	color: #1ABC9C;
	margin-left: 20px;
}

.action-icon {
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}

#nanowiki-search-results {
	padding-bottom: 10px;
	max-width: 1200px;
	margin: auto;
}

a.search-result:link {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-result:visited {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-result:hover {
	color: #1ABC9C;
	text-decoration: underline;
}

a.search-result:active {
	color: #1ABC9C;
	text-decoration: underline;
}

a.search-page:link {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-page:visited {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-page:hover {
	color: #1ABC9C;
	text-decoration: underline;
}

a.search-page:active {
	color: #1ABC9C;
	text-decoration: underline;
}

.search-current-page {
	text-decoration: underline;
}

#featured-header, #new-header {
	font-size: 1.8rem;
	margin-top: 1rem;

}
#new-stories-header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0;
}
#new-stories-header a {
	color: #1ABC9C;
	text-decoration: none;
}
#nanowiki-stories {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	max-width: 1200px;
	width: 100%;
	align-items: flex-start;
	margin: 0 auto;
}
#nanowiki-featured-stories,
#nanowiki-search-results,
#nanowiki-new-stories {
	display: flex;
	flex-flow: column;
	padding: 10px;
	max-width: 750px;
	width: calc(100% - 20px);
	margin: 0;
}

.featured-story,
.search-result, .new-story {
	width: calc(100% - 20px);
	line-height: 1.5rem;
	max-height: 100px;
	font-size: 1.2rem;
	margin: 10px 0;
	padding: 10px;
	overflow: hidden;
	list-style-type: none;
	background: rgb(55, 63, 73);
	text-decoration: none;
	transition: opacity .3s;
}

.featured-story:active,
.featured-story:hover,
.featured-story:focus,
.featured-story:visited,
.search-result:active,
.search-result:hover,
.search-result:focus,
.search-result:visited {
	text-decoration: none !important;
	opacity: .5;
}

.featured-story h3,
.search-result h3 {
	width: 100%;
	font-size: 1.2rem;
	margin-bottom: 10px;
	color: #1ABC9C;
}

.featured-story span,
.search-result span {
	color: #aaa;
	width: 95%;
	max-height: 70px;
	overflow: hidden;
	margin: 0 auto;
	display: block;
}

/* Placeholder text for contenteditable elements */
[contenteditable=true]:empty:before {
	content: attr(placeholder);
	display: block;
	/* For Firefox */
	color: #888888;
}



@media (max-width: 600px) {
	#nanowiki-top {
		flex-flow: column;
		align-items: flex-start;
	}

	#nanowiki-icon {
		height: 32px;
		width: auto;
	}

	#nanowiki-title {
		font-size: 1.1rem;
	}

	#nanowiki-search {
		width: 100%;
		position: relative;
		justify-content: flex-end;
		align-items: center;
		right: 0;
	}
	#nanowiki-stories {
		grid-template-columns: 1fr;
	}
	#nanowiki-search-box {
		margin-bottom: 1em;
	}
	#nanowiki-intro {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr auto;
		text-align: center;
		padding: 0;
	}
	#nanowiki-create-story-container {
		align-items: center;
		justify-content: center;
	}
	#nanowiki-story {
		width: calc(100% - 2em);
		margin: 0;
	}
	#nanowiki-body {
		padding: 0;
		/* padding-bottom: 50%; */
		height: calc(100% - 48px);
		width: inherit;
		margin: 0;
	}
	#nanowiki-read-stories {
		display: flex;
	}
	button {
		padding: 16px 9px;
	}
	.big-font {
		font-size: 1.1rem;
	}

	.featured-story,
	.search-result, .new-story {
		margin: 5px auto;
	}
}

@media (max-width: 400px) {
	#nanowiki-top {
		grid-template-columns: 1fr;
	}

	#nanowiki-search {
		width: 100%;
		justify-content: center !important;
		max-height: 0;
		overflow: hidden;
	}
}
