* {
	padding: 0;
	margin: 0;
}

p, button, hr, .margin {
  margin: 10px;
}

.half-margin {
	margin: 5px;
}

article, aside, canvas, figcaption,
figure, footer, header, hgroup,
output, section, video {
	display: block;
}

html {
	min-width: 100%;
	width: 100%;
	max-width: 100%;
	min-height: 100%;
	height: 100%;
	max-height: 100%;
  align-items: center;
  background-color: #21252B;
}

body {
  width: 800px;
  max-width: 800px;
  margin: 40px auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #282C34;
  color: #CCCCCC;
}

a {
  color: #00B7FF;
}

#nanowiki-top {
	font-size: 24pt;
	display: flex;
	align-items: center;
	align-content: center;
	position: relative;
}

#nanowiki-header {
  display: flex;
  align-items: center;
  align-content: center;
}

#nanowiki-icon {
  width: 64px;
  height: 64px;
  display: inline-block;
  margin: 10px;
}

#nanowiki-title {
  display: inline-block;
}

#nanowiki-search {
	display: flex;
	position: absolute;
	right: 10px;
}

#nanowiki-footer {
  position: fixed;
  bottom: 10px;
  left: 0px;
  right: 0px;
  margin: auto;
  justify-content: center;
  display: flex;
}

.big-font {
  font-size: 16pt;
}

.huge-font {
  font-size: 24pt;
}

.clickable {
	cursor: pointer;
	-webkit-user-select: none; /* Chrome, Opera, Safari */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
}

#nanowiki-story {
	margin: 20px;
	padding-bottom: 20px;
}

#nanowiki-story-title-bar {
	position: relative;
	align-items: center;
}

#nanowiki-story-title {
	display: inline-block;
}

#nanowiki-story-controls {
	display: inline-block;
	position: absolute;
	right: 10px;
}

#nanowiki-story-insertion {
	margin: 10px;
}

#nanowiki-story-author {
	color: #1ABC9C;
}

.action-icon {
	vertical-align: middle;
	padding-left: 10px;
	padding-right: 10px;
}

#nanowiki-search-results {
	padding-bottom: 10px;
}

a.search-result:link {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-result:visited {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-result:hover {
	color: #1ABC9C;
	text-decoration: underline;
}

a.search-result:active {
	color: #1ABC9C;
	text-decoration: underline;
}

a.search-page:link {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-page:visited {
	color: #1ABC9C;
	text-decoration: none;
}

a.search-page:hover {
	color: #1ABC9C;
	text-decoration: underline;
}

a.search-page:active {
	color: #1ABC9C;
	text-decoration: underline;
}

.search-current-page {
	text-decoration: underline;
}
